@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Yellowtail&display=swap');

:root{
--heading-font: "Yellowtail", Arial, Georgia;
--paragraph-font: "Open Sans", Helvetica, sans-serif;
}


div#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #3A5A40;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}
main section {
    text-align: center;
}
#backround {
    height: 725px;
    background-color: #DAD7CD ;
}

body {
    background-color: #3A5A40;
    color: #DAD7CD;
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}

header {
    background-color: white ;
    font-family: var(--heading-font);
}

nav a:hover {
    background-color: #DAD7CD ;
    color: #3A5A40;
}

.book, .join {
    background-color: #DAD7CD ;
    color: #3A5A40;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 50px;
}

.book:hover, .join:hover {
    background-color: #588157;
}


.msg {
    background-color: #DAD7CD ;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #DAD7CD;
    color: #3A5A40;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title{
    color: #DAD7CD;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #DAD7CD;
}

.msg h2 {
    color: #3A5A40;
    font-family: var(--heading-font);
}

.msg p {
    color: #3A5A40;
    font-size: 1.2em;
    padding-bottom: 15px;
}

footer a {
    color: #3A5A40 ;
    text-decoration: none;
}

footer a:hover{
    color: #588157;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
.river-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #DAD7CD;
}
main section img {
    box-sizing: border-box;
}