@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,200&family=Noto+Serif+Display:wght@900&display=swap');

:root{
    --heading-font: "Noto Serif Display";
    --paragraph-font: "Be Vietnam Pro", Helvetica, sans-serif;

    --primary-color: #1E3B3D  ;
    --secondary-color: #D8AE5E ;
    --accent1-color: #CCD5AE;
    --accent2-color: #E7D49E;
    }

nav {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
}
nav a{
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
    padding: 35px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.Logo {
    width: 100%;
}

div#content {
    max-width: 1600px;
    margin: 0 auto;
}

main section {
    text-align: center;

}
#backround {
    height: 725px;
    background-color: var(--primary-color) ;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}

header {
    background-color: white ;
    font-family: var(--heading-font);
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #DAD7CD ;
    color: #3A5A40;
}


footer {
    background-color: #DAD7CD;
    color: #3A5A40;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title{
    color: #DAD7CD;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

h1{
    font-size: 50px;
}

h4 {
    color: #DAD7CD;
}

footer a {
    color: #3A5A40 ;
    text-decoration: none;
    font-size: 2em;
    
}

footer a:hover{
    color: #588157;
}


footer p {
    font-size: 2em;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}

main section img {
    box-sizing: border-box;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h4 {
    color: white
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.home-audit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-tax{
    display: grid;
    grid-template-columns: 1fr 1fr;
}